{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'  %}" />
    <title >Listado de PCs</title>
</head>
<body>
<div class="topnav">
  <a class="active" >PCs</a>
  <a href="{% url 'mon' %}">Monitores</a>
  <a href="{% url 'tec' %}">Teclados</a>
  <a href="{% url 'rat' %}">Ratones</a>
</div>
<div style="padding-left:16px">
<h1>Lista de PCs</h1>
    <a href="nueva_pc" class="button">Agregar PC</a>
    <br>
    <br>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Monitor</th>
            <th>Teclado</th>
            <th>Mouse</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for compu in compus %}
            <tr>
                <td>{{ compu.id }}</td>
                <td>{{ compu.nombre }}</td>
                <td>{{ compu.monitor.nombre }}</td>
                <td>{{ compu.teclado.nombre }}</td>
                <td>{{ compu.mouse.nombre }}</td>
                <td><a href="detalle_compu/{{ compu.id }}">Ver</a></td>
                <td><a href="editar_compu/{{ compu.id }}">Editar</a></td>
                <td><a href="eliminar_compu/{{ compu.id }}">Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>