{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'  %}" />
    <title>Detalles de {{ monitor.nombre }}</title>
</head>
<body class="pad">
    <h1>Detalles de {{ monitor.nombre }}</h1>
    <br>
    <div>Nombre del monitor: {{ monitor.nombre }}</div>
    <div>Marca del monitor: {{ monitor.marca }}</div>
    <div>Tamaño: {{ monitor.width }}</div>
    <br>
    <br>
    <br>
    <a href="{% url 'mon' %}" class="button">Volver</a>
</body>
</html>