{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'  %}" />
    <title>Detalles de {{ raton.nombre }}</title>
</head>
<body class="pad">
    <h1>Detalles de {{ raton.nombre }}</h1>
    <br>
    <div>Nombre del Raton: {{ raton.nombre }}</div>
    <div>Marca: {{ raton.marca }}</div>
    <div>Tipo de Conexión: {{ raton.tipo_entrada }}</div>
    <div>Tipo: {{ raton.tipo }}</div>
    <br>
    <br>
    <br>
    <a href="{% url 'rat' %}" class="button">Volver</a>
</body>
</html>