{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'  %}" />
    <title>Lista de Ratones</title>
</head>
<body>
<div class="topnav">
  <a href="{% url 'index' %}">PCs</a>
  <a href="{% url 'mon' %}">Monitores</a>
  <a href="{% url 'tec' %}">Teclados</a>
  <a class="active" href="">Ratones</a>
</div>
<div style="padding-left:16px">
<h1>Lista de Ratones</h1>
    <a href="nuevo_raton" class="button">Agregar Raton</a>
    <br>
    <br>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Conexión</th>
            <th>Tipo</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for raton in ratones %}
            <tr>
                <td>{{ raton.id }}</td>
                <td>{{ raton.nombre }}</td>
                <td>{{ raton.marca }}</td>
                <td>{{ raton.tipo_entrada }}</td>
                <td>{{ raton.tipo }}</td>
                <td><a href="detalle_raton/{{ raton.id }}">Ver</a></td>
                <td><a href="editar_raton/{{ raton.id }}">Editar</a></td>
                <td><a href="eliminar_raton/{{ raton.id }}">Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>