{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'  %}" />
    <title>Detalles de Teclado</title>
</head>
<body class="pad">
    <div>Nombre de la PC: {{ teclado.nombre}}</div>
    <div>Marca: {{ teclado.marca }}</div>
    <div>Tipo de entrada: {{ teclado.tipo_entrada }}</div>
    <div>Tipo: {{ teclado.tipo }}</div>
    <br>
    <br>
    <br>
    <a href="{% url 'tec' %}" class="button">Volver</a>
</body>
</html>