{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'  %}" />
    <title>Lista de Teclados</title>
</head>
<body>
<div class="topnav">
  <a href="{% url 'index' %}">PCs</a>
  <a href="{% url 'mon' %}">Monitores</a>
  <a class="active" href="">Teclados</a>
  <a href="{% url 'rat' %}">Ratones</a>
</div>
<div style="padding-left:16px">
<h1>Lista de Teclados</h1>
    <a href="nuevo_tec" class="button">Agregar Teclado</a>
    <br>
    <br>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Conexión</th>
            <th>Tipo</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for teclado in teclados %}
            <tr>
                <td>{{ teclado.id }}</td>
                <td>{{ teclado.nombre }}</td>
                <td>{{ teclado.marca}}</td>
                <td>{{ teclado.tipo_entrada }}</td>
                <td>{{ teclado.tipo }}</td>
                <td><a href="detalle_tec/{{ teclado.id }}">Ver</a></td>
                <td><a href="editar_tec/{{ teclado.id }}">Editar</a></td>
                <td><a href="eliminar_tec/{{ teclado.id }}">Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>